* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
  }

body {
    background-color: black;
}

.container {
    width: 30%;
    margin: 0 auto;
}

.nav-bar {
    position: absolute;
    width: 100%;

    background-color: rgb(244, 244, 244);
}

.nav-bar .container {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-top: 26px;
    padding-bottom: 26px;
}

.nav-bar .container a {
    text-decoration: none;
    color: rgb(38, 38, 38);
    font-size: 18px;
}

.nav-bar .container a:hover {
    text-decoration: none;
    color: rgb(152, 54, 54);
}

.about-us {
    background-image: url(../src/img/background-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.about-us .container {
    background-color: rgb(255, 255, 255, 0.5);

    padding-top: 500px;
    padding-top: 500px;

    width: 48%;
}