* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
  }

body {
    background-color: black;
}

.container {
    width: 30%;
    margin: 0 auto;
}

.nav-bar {
    position: absolute;
    width: 100%;

    background-color: rgb(244, 244, 244);
}

.nav-bar .container {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding-top: 26px;
    padding-bottom: 26px;
}

.nav-bar .container a {
    text-decoration: none;
    color: rgb(38, 38, 38);
    font-size: 18px;
}

.nav-bar .container a:hover {
    text-decoration: none;
    color: rgb(152, 54, 54);
}

.nav-bar .container a::selection {
    text-decoration: none;
    color: rgb(54, 141, 152);
}

.about-us {
    background-image: url(../src/img/background-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-block {
    background-image: url(../src/img/background-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-block .header-info-block {
    background-color: rgb(255, 255, 255, 0.5);

    padding-top: 500px;
    padding-top: 500px;

    margin: 0 auto;
    width: 48%;
    height: 100%;
}

.info-block {
    background-color: rgb(244,244,244);
}

.info-block .container {
    padding-top: 48px;
    padding-bottom: 48px;

    width: 75%;
    display: flex;
    flex-direction: row;
}

.info-block .container .left {
    width: 50%;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 36px;

    line-height: 36px;
    margin-right: 16px;
}

.info-block .container .left p:first-child {
    font-weight: lighter;
}

.info-block .container .left p:last-child {
    font-weight: bold;
}

.info-block .container .right {
    width: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.icon-container {
    display: inline-block;
}

.icon-container .left {
    display: inline-block;
}

.icon-container .right {
    display: inline-block;
}

.icon-container .left .icon-img-container{
    background-color: rgb(55, 140, 169);
    border-radius: 100%;
    height: 82px;
    width: 82px;
}

.icon-container .left .icon-img-container span{
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    height: 42px;
    width: 42px;
}

.icon-container:nth-child(1) .left .icon-img-container span{
    background-image: url(../src/img/research-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-container:nth-child(2) .left .icon-img-container span{
    background-image: url(../src/img/settings-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-container:nth-child(3) .left .icon-img-container span{
    background-image: url(../src/img/design-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}